/* FlexBox */
.flex1{width: 100%; display: flex;}
.flex2{width: 50%; display: flex;}
.flex3{width: 33.33%; display: flex;}
.flex4{width: 25%; display: flex;}
.flex5{width: 20%; display: flex;}
[class*="flex"]{margin: 2.5%; float: left; padding: 5px; flex-wrap: nowrap; display: block;}
.flexDiv{width: 100%; margin: 0; display: flex; justify-content: center;}

/* All */


/* Html */


/* Body */
body
{
    overflow-x: hidden;
    margin: 0;
}

/* Header */
header
{
    background-position: fixed;
    background-image: url("OmnifoodContent/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}

header h1
{
    font-weight: 100;
}

/* Nav */
nav
{
    margin-bottom: 100px;
}
nav ul
{
    float: right;
    padding-left: 0px;
    list-style: none;
}
nav li
{
    display: inline; margin: 10px;
    padding-bottom: 10px;
}
nav li
{
    border-bottom: 2px transparent solid;
}

/* Section */
section
{
    font-family: sans-serif;
}
section .headDiv
{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
section h2
{
    font-weight: 100;
}
section h3
{
    font-weight: 100;
    text-align: left;
}
section p
{
    text-align: left;
}

/* Normal */
button
{
    border: solid darkorange 2px;
    border-radius: 20px;
    background-color: transparent;
    color: darkorange;
    margin: 20px;
    padding: 10px 20px;
    transition: 0.1s;
}
blockquote
{
    font-style: italic;
}
blockquote a
{
    font-family: fantasy;
    font-size: xx-large;
}

/* Classes */
.backTint
{
    padding: 25px 50px;
    background-color: rgba(50, 50, 50, 0.75);
}
.buttonPrimary
{
    background-color: orange;
    border-color: orange;
    color: white;
}
.iconBig
{
    font-size: 350%;
    display: block;
    color: orangered;
    margin-bottom: 10px;
    --ionicon-stroke-width: 20px;
}
.sectionMargin
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.backgroundImg
{
    outline: white 1px solid;
    overflow: hidden;
    background-color: black;
}
.backgroundImg img
{
    display: block;
    opacity: 0.7;
    transition: 0.5s;
}
.circle
{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    font-size: x-large;
    text-align: center;
    color: orangered;
    display: block;
    border: orangered 2px solid;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    padding: 15px 20px 25px 20px;
}
.circle2
{
    margin-left: 40px;
    margin-right: 10px;
    float: left;
    font-size: x-large;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.iconSmall
{
    color: orangered;
}
.bigtext, .smalltext
{
    color: orangered;
}
.bigtext
{
    font-size: xx-large;
}
.smalltext
{
    font-size: large;
}

/* Ids */
#heroText
{
    margin-bottom: 100px;
}
#Gallery *, #Gallery
{
    margin: 0px;
    padding: 0;
}
#contentImage
{
    background-image: url("OmnifoodContent/back-customers.jpg");
    background-position: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: sans-serif;
}
section .backTint
{
    margin-top: -50px;
    height: 450px;
}

/* Psudo */
button:hover
{
    color: white;
    background-color: darkorange;
    border-color: darkorange;
}
nav li:hover
{
    border-bottom-color: orange;
}
.backgroundImg img:hover
{
    transform: scale(1.15);
    opacity: 1;
}
a:link
{
    color: orangered;
}
a:link:hover
{
    color: black;
    text-decoration: none;
}